@import "tailwindcss";

.landing-main-text {
  font-size: 2rem;
  line-height: 1.1;
}

.bg-meeting5 {
  background-color: #E6E6E6;
}

input{
  background-color: #F2F8FF;
}

.main-blue-meeting5 {
  color: #2E5BDA;
}

.bg-main-blue-meeting5 {
  background-color: #2E5BDA;
}


.button-green-meeting5 {
  background-color: #2DCD71;
  color: white;
}

.button-blue1-meeting5 {
  background-color: #2E91D9;
  color: white;
}

.button-blue2-meeting5 {
  background-color: #362ED9;
  color: white;
}

.input-blue-meeting5 {
  background-color: #F2F8FF;
}


@layer base {
  html {
    font-family: "Raleway", sans-serif;
  }
}

@layer components {
  /* Custom scrollbar styles */
  .scrollbar-thin::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }
  
  .scrollbar-track-black::-webkit-scrollbar-track {
    background-color: black;
    border-radius: 4px;
  }
  
  .scrollbar-thumb-white::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 4px;
  }
  
  .scrollbar-thumb-white::-webkit-scrollbar-thumb:hover {
    background-color: #e5e5e5;
  }
  
  /* Firefox scrollbar styles */
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: white black;
  }
  
  /* Text truncation utilities */
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.div-home-peliculas{
  padding: 1rem;
}
